.my-bold {
    font-weight: bold;
    font-family: Courier New, Courier, monospace;
}

.shift-right {
    margin-left: 20px;
    list-style-type: square;
}

.boldo {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.redo {
    color: red;
}

.big-text {
    text-transform: uppercase;
}