<div id="users-display">
  <button class="btn btn-block mb-3" [ngClass]="currentClasses" (click)="addUser({firstName: 'Mary', lastName: 'Williams', isActive: true})">Add User</button>
  <ul class="card card-body" *ngFor="let user of users" [class.bg-light]="user.isActive" [style.border-color]="user.isActive? 'green': ''">

    <div class="row">
      <div class="col-sm-4">
        <!-- <img [src]="user.image" alt="" class="img-fluid" *ngIf="user.image"> -->
        <!-- <img src="{{user.image}}" alt="" class="img-fluid" *ngIf="user.image"> -->
        <!-- <img bind-src="user.image" alt="" class="img-fluid" *ngIf="user.image"> -->
      </div>

      <div class="col-sm-8">
        <!-- https://scotch.io/tutorials/angular-2-classes-with-ngclass-and-ngstyle -->
        <!-- https://angular.io/api/common/NgClass -->
        <li [className]="'my-bold redo list-group-item'" [ngStyle]="getCurrentStyles()">
          {{ user.name | uppercase }}
        </li>
        <li [ngClass]="['shift-right']">{{ user.age }}</li>
        <li [ngClass]="{'shift-right': true}">{{ user.city }}</li>
        <li [ngClass]="'boldo shift-right'" *ngIf="user.isHuman; else unHuman">{{ user.isHuman }}</li>
        <li class="list-group-item">Balance: {{ user.balance | currency: "GBP":"symbol" }} until {{ .01 | percent }} </li>
        <li>Registered: {{ user.registered }}</li>
        <li class="list-group-item" ngNonBindable>{{ 5 | number:"2.5" }}</li>
      </div>
    </div>

  </ul>
</div>

<ng-template #unHuman>
  <li [ngClass]="{'boldo': true, 'shift-right': false}">This entry is not human.</li>
</ng-template>